@font-face {
  font-family: "iconfont"; /* Project id 3856462 */
  src: url('//at.alicdn.com/t/c/font_3856462_1nhu1zfossw.woff2?t=1673234964705') format('woff2'),
       url('//at.alicdn.com/t/c/font_3856462_1nhu1zfossw.woff?t=1673234964705') format('woff'),
       url('//at.alicdn.com/t/c/font_3856462_1nhu1zfossw.ttf?t=1673234964705') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 19px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liulanqi:before {
  content: "\e661";
}

.icon-browser:before {
  content: "\e64e";
}

.icon-liulanqi1:before {
  content: "\e610";
}

.icon-liulanqi1-mianxing:before {
  content: "\e6e5";
}

.icon-xingqiu:before {
  content: "\e65c";
}
